.orderdetails-container{
    display: flex;
    height: 84.25%;
    /*height: 91.75%;*/
    width: 90%;
    padding: 0% 5%;
    /*background: red;*/
}
.orderdetails-addressinfo{
    flex: 1;
    /*background: chartreuse;*/
    padding: 3%;
    background:linear-gradient(rgb(168, 247, 247),white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.orderdetails-addressinfo p{
    padding: 1px;
    font-size: 20px;
}

.orderdetails-products{
    flex: 1;
    /*background: aqua;*/
    overflow-y: auto;
    padding: 3%;
    background:linear-gradient(rgb(168, 247, 247),white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
}
td{
    padding: 7px;
    /*background: white;*/
    width: 200px;
    height: 7px;
    font-size: 20px;

}
#tdsize{
    width: 50px;
    text-align: center;
}
.orderdetails-billandqr{
    display: flex;
    width: 100%;
    height: 37%;
}
.orderdetails-summary{
    flex: 1.5;
    /*background: chocolate;*/
}
.orderdetails-qrimg{
    flex: 1;
    /*background: cadetblue;*/
}
.orderdetails-qrimg img{
    width: 100%;
    height: 100%;
}

.orderdetails-submit{
    margin-top: 4px;
    border-radius: 10%;
    width: 38%;
    height: 4vh;
    background: orange;
    text-align: center;
    padding: 2vh 1% ;
    align-items: center;
    float: right;
    margin-right: 100px;
    background:linear-gradient(rgb(168, 247, 247),white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderdetails-inner
{
    width: 30vw;
    height: 20vh;
    /*background: blueviolet;*/
    background:linear-gradient(rgb(168, 247, 247),white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 20px;
}
.orderdetails-items{
    width: 100%;
    height: 18vh;
    /*background-color: red;*/
    background: white;
    display: flex;
    margin-top: 2px;
}
.orderdetails-items .orderdetails-img{
    width: 16%;
    height: 85%;
    display: block;
    padding: 2%;
    background-color: #131469;
    background:linear-gradient(rgb(168, 247, 247),white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.orderdetails-items .orderdetails-img img{
    height: 100%;
    width: 100%;
    transition: all 1s ease-in-out;
}
.orderdetails-img img:hover{
    transform: scale(2);
}
.orderdetails-items .orderdetails-info{
    width: 76%;
    padding: 2%;
    height: 96%;
}