.orders-container {
    width: 63.5vw;
    padding: 6vh 17.5vw 6vh 17.5vw;
    align-items: center;
    margin-top: 5vh;
    /*background-color: orange;*/
    overflow-x: hidden;
}


.order-each {
    width: 65vw;
    margin-bottom: 100px;
    /*background:linear-gradient(rgb(168, 247, 247),white);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.orders-inner-date {
    display: flex;
    position: relative;
    width: 65vw;
    height: 30px;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
    /*background:linear-gradient(rgb(168, 247, 247),white);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*background: yellow;*/

}
.orders-bill-info {
    display: flex;
    /*background: orange;*/
    width: 63.75vw;
    height: 20vh;
    padding: 1%;
    /*background:linear-gradient(rgb(168, 247, 247),white);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.orders-bill-info-deliver-address {
    display: block;
    height: 20vh;
    width: 25vw;
    padding: 1%;
}
.orders-bill-info-payments {
    display: block;
    height: 20vh;
    width: 20vw;
    padding: 1%;
}
.orders-bill-info-summary {
    display: block;
    height: 20vh;
    width: 20vw;
    padding: 1%;
}
.orders-bill-info-summary td{
    padding: 2%;
}

.orders-each-product {
    display: flex;
    /*background: #003366;*/
    width: 59.75vw;
    margin: 2vh 2vw;
    height: 20vh;
    padding: 1%;
    /* /margin-bottom: 20px; */
    /*background:linear-gradient(rgb(168, 247, 247),white);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.orders-each-product-img {
    width: 8vw;
    height: 17.5vh;
    padding: 1%;
    /* width: 150px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.orders-each-product-img img {
    width: 100%;
    height: 100%;
}
.orders-each-product-info {
    padding: 1% 1% 1% 3%;
    width: 51.75vw;
}
.orders-each-product-info td{
    padding: 2%;
    width: 100px;
}

