.swiper {
    width: 100%;
    height: 50vh;
    margin-top: 9vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(230, 37, 37);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.man-conatiner{
  margin-top: 300px;
  background: #9fdf40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.man {
    width: 200px;
    margin-top: 40px;
    height: 360px;
  }
  
  .head {
    width: 70px;
    height: 70px;
    background-color: rgb(247, 16, 16);
    border-radius: 50%;
    -webkit-animation-name: body;
            animation-name: body;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  
  .body {
    height: 144px;
    width: 62px;
    background-color: rgb(245, 22, 22);
    border-radius: 100% 20% 0 0;
    transform: skewX(-2deg);
    position: relative;
    left: -50px;
    -webkit-animation-name: body;
            animation-name: body;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  
  .foot {
    width: 40px;
    height: 14px;
    border-radius: 10px 80% 4px 4px;
    transform: skewX(5deg);
    background-color: rgb(236, 38, 38);
    display: inline-block;
    -webkit-animation-name: foot;
            animation-name: foot;
    -webkit-animation-duration: 1.8s;
            animation-duration: 1.8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .foot:last-child {
    margin-left: -40px;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  
  .feet {
    text-align: left;
    position: relative;
    top: 100px;
    left: -66px;
  }
  .feet:before {
    width: 120px;
    height: 8px;
    border-radius: 50%;
    content: "";
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -2px;
    left: -16px;
    -webkit-animation-name: shadow;
            animation-name: shadow;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes foot {
    20% {
      transform: translate3d(34px, -16px, 0) rotate(4deg);
    }
    26% {
      transform: translate3d(34px, -10px, 4) rotate(0deg);
    }
    40% {
      transform: translate3d(56px, -6px, 0) rotate(-6deg);
    }
    44% {
      transform: translate3d(56px, 0, 0) rotate(0deg);
    }
  }
  
  @keyframes foot {
    20% {
      transform: translate3d(34px, -16px, 0) rotate(4deg);
    }
    26% {
      transform: translate3d(34px, -10px, 4) rotate(0deg);
    }
    40% {
      transform: translate3d(56px, -6px, 0) rotate(-6deg);
    }
    44% {
      transform: translate3d(56px, 0, 0) rotate(0deg);
    }
  }
  @-webkit-keyframes body {
    25% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(5px);
    }
  }
  @keyframes body {
    25% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(5px);
    }
  }
  @-webkit-keyframes shadow {
    25% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.96);
    }
  }
  @keyframes shadow {
    25% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.96);
    }
  }