{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Menu</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css"  href="{% static 'layout/base.css' %}" />
    {% block css %}
    {% endblock css %}
</head>

<body>
<nav>
    <div class="sidebar-top" style="margin-bottom: 50px;">
      <span class="shrink-btn">
        <i class='bx bx-chevron-left'></i>
      </span>
      <img src="{% static 'images/logo.png' %}" class="image" alt="" style="width: 200px; height:100px;">
    </div>
    <div class="sidebar-links">
        <ul>
            <li class="tooltip-element" data-tooltip="2">
                <a href="{% url 'dealers:shopsverification' %}" data-active="2">
                    <div class="icon">
                        <i class='bx bx-folder-plus'></i>
                        <i class='bx bxs-folder-plus'></i>
                    </div>
                    <span class="link hide">Shop Verifications</span>
                </a>
            </li>
            <li class="tooltip-element" data-tooltip="3">
                <a href="{% url 'dealers:dealerdailyupdate' 'none' %}" data-active="3">
                    <div class="icon">
                        <i class='bx bx-bar-chart-square'></i>
                        <i class='bx bxs-bar-chart-square'></i>
                    </div>
                    <span class="link hide">Location Update</span>
                </a>
            </li>
        </ul>
        <br>
        <h4 class="hide">Orders Info</h4>

        <ul>
            <li class="tooltip-element" data-tooltip="0">
                <a href="{% url 'dealers:dearlerorders' %}" data-active="4">
                    <div class="icon">
                        <i class='bx bx-notepad'></i>
                        <i class='bx bxs-notepad'></i>
                    </div>
                    <span class="link hide">orders</span>
                </a>
            </li>
            <li class="tooltip-element" data-tooltip="2">
                <a href="#" data-active="6">
                    <div class="icon">
                        <i class='bx bx-basketball'></i>
                        <i class='bx bxs-basketball'></i>
                    </div>
                    <span class="link hide">Profile</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="sidebar-footer">
        <a href="#" class="account tooltip-element" data-tooltip="0">
            <i class='bx bx-user'></i>
        </a>
        <div class="admin-user tooltip-element" data-tooltip="1">
            <div class="admin-profile hide">
                <img src="./img/face-1.png" alt="">
                <div class="admin-info">
                    <h3>Dealer</h3>
                    <h5>Admin</h5>
                </div>
            </div>
            <a href="#" class="log-out">
                <i class='bx bx-log-out'></i>
            </a>
        </div>
    </div>
</nav>


<main>
    <div style="width: 100%;height: 8vh; background: #3498db; text-align: center;">
        <h1 style="color: white;">Napsack</h1>
        <h3 style="color: white;">You Create We Promote</h3>
  
      </div>
    {% block itemscontainers %}

    {% endblock itemscontainers %}


</main>

<script src="{% static 'layout/app.js' %}"></script>
</body>

</html>