{% extends 'layout/customer_login.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/customer_profile.css' %}">
<link rel="stylesheet" href="sweetalert2.min.css">
{% endblock css %}
{% block itemscontainers %}
<div class="profile-container">
    <div class="profile-card">
        <div class="profile-img-container">
            {% for form in data %}
            {% if forloop.last %}
            <img src="{{ form.img.image.url }}" alt="profile" class="profile-img">
            {% endif %}
            {% endfor %}
            {% for form in data %}
            {% if forloop.first %}
            <form method="post" action="{% url 'customers:customerimage' %}" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit">Update</button>
            </form>
            {% endif %}
            {% endfor %}
        </div>
        <div class="profile-info-container">
            <img src="{% static 'images/napsacklogo.png' %}">
            <br>
            <br>
            <br>
            {% for i in data %}
            {% if forloop.last %}
            <form method="post" action="{% url 'customers:customerprofile' %}">
                {% csrf_token %}
                <div class="each-input-container">
                    <input type="text" name="username" placeholder="Username" value="{{ i.username }}">
                    <button type="submit">Update</button>
                </div>
                <div class="each-input-container">
                <input type="text" name="name" placeholder="Name" value="{{ i.name }}">
                <button type="submit">Update</button>
                </div>
                <div class="each-input-container">
                <input type="text" name="email" placeholder="Email" value="{{ i.email }}">
                <button type="submit">Update</button>
                </div>
                <div class="each-input-container">
                <input type="text" name="phone" placeholder="Phone" value="{{ i.phone_number }}">
                <button type="submit">Update</button>
                </div>
                <div class="each-input-container">
                <input type="text" name="password" placeholder="Password" value="{{ i.password }}">
                <button type="submit">Update</button>
                </div>
            </form>
            {% endif %}
            {% endfor %}
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div style="height: 40px;width: 320px;color: darkred; text-align: center;">
                <strong>{{message}}</strong>
                </div>
                <br>
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <div style="height: 40px;width: 320px;color: rgb(251, 130, 31); text-align: center;">
            <strong>{{message}}</strong>
            </div>
            <br>
                    <br>
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
        
    </div>
    
</div>


<script src="sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
        function removeconformation(){
            Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this Product!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Remove from cart!'
            }).then((result) => {
            if (result.isConfirmed) {
                var url = $("#Url").attr("data-url");
                document.location.href = url
            }
            })
        };
</script>

{% endblock itemscontainers %}
