{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/23412c6a8d.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/customer_login.css' %}">

</head>

<body>

    <div class="container">
        <div class="panel">
            <div class="row">
                <div class="col liquid" style="background-image: url('{% static 'images/pages/Wave.png' %}')";>
                    <h4><img src="{% static 'images/logo.png' %}" style="height: 100px;width: 200px;"></h4>
                    <div class="owl-carousel owl-theme">

                        <img src="{% static 'images/pages/undraw_authentication_fsn5.svg' %}" alt="" class="login_img">
                        <img src="{% static 'images/pages/undraw_personal_data_29co.svg' %}" alt="" class="login_img">
                        <img src="{% static 'images/pages/undraw_fingerprint_swrc.svg' %}" alt="" class="login_img">

                    </div>
                    <div class="follow">
                        Follow us <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
                <div class="col login">
                    <div class="containerform">
                        <form method="post">
                            {% csrf_token %}
                            <p> Login To NapSack</p>
                            <i class="fas fa-user" ></i>
                            <input type="text" placeholder="Username" name="username"><br>
                            <i class="fas fa-user-lock"></i>
                            <input type="password" placeholder="Password" name="password"><br>
                            <br>
                            <input type="submit" style="background: rgb(168, 247, 247);">
                            {% if messages %}
                              {% for message in messages %}
                                 {% if message.tags == 'error' %}
                                  <div style="height: 40px;width: 320px;color: darkred">
                                    <strong>{{message}}</strong>
                                  </div>
                                 {% endif %}
                              {% endfor %}
                            {% endif %}
                            <br>
                            <a href="{% url 'customers:forgotpassword' %}">Forgot Password?</a>

                            <p style="margin-bottom: 0px;">or</p>
                            <button type="button" class="btn"><a href="{% url 'customers:register' %}">
                                Sign up </a></button>
                        </form>

                        <div class="drops">
                            <div class="drop drop-1"></div>
                            <div class="drop drop-2"></div>
                            <div class="drop drop-3"></div>
                            <div class="drop drop-4"></div>
                            <div class="drop drop-5"></div>
                            <div class="drop drop-6"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-signup"><a href="{% url 'agents:AgentsLogin' %}">
                        NapSack Agent</a></button>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

            $('.owl-carousel').owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                items: 1
            });
        });
    </script>
</body>

</html>