{% extends 'layout/customer_login.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/customer_password_update.css' %}">
{% endblock css %}
{% block itemscontainers %}
<div class="password-update-container">
    <div class="password-update-card">
    <div class="password-update-info-container">
        <img src="{% static 'images/napsacklogo.png' %}">
        <br>
        <br> 
        <h2>Password Update</h2>
        <hr>
        <br>
        <br>
        <div class="form-conatainer">
            <form action="{% url 'customers:updatepassword' %}" method="post">
                {% csrf_token %}
                <input type="password" name="password" placeholder="New Password" >
                <input type="password" name="confirm_password" placeholder="confirm Password" ><br>
                <button type="submit">Update</button>
            </form>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <br>
                <br>
                <div style="height: 40px;width: 320px;color: darkred; text-align: center;">
                <strong>{{message}}</strong>
                </div>
                <br>
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        
    </div>
</div>
</div>
{% endblock itemscontainers %}
