{% extends 'layout/customer_login.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/customer_orders.css' %}">
{% endblock css %}
{% block itemscontainers %}
    <div class="orders-container">
            <h1 style="text-align:center ;">Orders</h1>
            {% if data %}
            {% for ords in data %}
            <div class="order-each">
                {% for key, ordinfo  in ords.items %}
                    {% if forloop.first %}
                            <div class="orders-inner-date">
                                <p style="margin-left: 20px"><b>Order# {{ ordinfo.order_id }}</b></p>
                                <div style="position: absolute;right: 20px;"><b><p>delivery date :{{ ordinfo.delivery_date }} </p></b></div>
                            </div>
                            <div class="orders-inner-date" style="height:20px;margin-top: 10px;">
                                <p style="margin-left: 20px"><b>Status: {{ ordinfo.status }}</b></p>
                                <div style="position: absolute;right: 20px;"><b><p>Order date :{{ ordinfo.oder_date }} </p></b></div>
                            </div>
                            <div class="orders-bill-info">
                                <div class="orders-bill-info-deliver-address">
                                    <h3>Shipping Address</h3>
                                    <br>
                                    <p>{{ ordinfo.name }}</p>
                                    <p>{{ ordinfo.phone }}</p>
                                    <p>{{ ordinfo.email }}</p>
                                </div>
                                <div class="orders-bill-info-payments">
                                    <h3>Payment Method</h3>
                                    <br>
                                    <p>{{ ordinfo.payment_mode }}</p>
                                </div>
                                <div class="orders-bill-info-summary">
                                    <h3>Order Summary</h3>
                                    <br>
                                    <table>
                                        <tr>
                                            <td>No of items</td>
                                            <td>{{ ordinfo.no_of_items }}</td>
                                        </tr>
                                        <tr>
                                            <td><h4>Total Amount</h4></td>
                                            <td><h4>₹{{ ordinfo.bill }}</h4></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                    {% endif %}
                           
                            {% if forloop.last %}
                                    {% for i in ordinfo %}
                                        <div class="orders-each-product">
                                            <div class="orders-each-product-img">
                                                <img src="{{ i.img.image.url }}" />
                                            </div>
                                            <div class="orders-each-product-info">
                                                <h3>{{ i.Categorie }}</h3>
                                                <h3>{{ i.name }}</h3>
                                                <table>
                                                    <tr>
                                                        <td><h3>Cost:</h3></td>
                                                        <td><h3>₹{{ i.cost }}</h3></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h3>Quantity: </h3></td>
                                                        <td><h3>{{ i.quantity }}</h3></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    {% endfor %}
                             {% endif %}
                             <br>
                {% endfor %}
            </div>
            {% endfor %}
            {% else %}
        <div>
            <h1>No Orders Founds...!</h1>
            <br>
            <h1 style="color: orange;">Get Products From Nearest Shop With in 2-3 hours</h1> <br>
        <h1 style="color: orange;"><a href="{% url 'customers:shop' %}"> Click Her </a> To Find The Shops</h1>
        </div>
        {% endif %}
    </div>
{% endblock itemscontainers %}
