{% extends 'layout/customer_login.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/customer_product.css' %}">
{% endblock css %}
{% block itemscontainers %}
    <div class="c_container">
        {% for info in data %}
        <div class="c_img_container" id="cube">
            <img id="myimage" src="{{ info.img.image.url }}" />
        </div>
        <div>
            <div id="myresult" class="img-zoom-result"></div>
        </div>
        <div class="c_info_container">
            <h1>{{ info.product_name }}</h1>
            <h2>{{ info.categorie_name }}</h2>
            <br>
            <table>
                <tr>
                    <td><h2>Cost</h2></td>
                    <td>
                        <h2><strike> ₹<span id="actualcost"> {{ info.Actual_cost }} </span></strike> | ₹<span id="presentcost"> {{ info.cost }} </span></h2>

                    </td>
                </tr>
                <tr>
                    <td><h2>Offer</h2></td>
                    <td><h2>{{ info.offer }} % </h2></td>
                </tr>
                <tr>
                    <td><h2>Offer</h2></td>
                    <td ><h2 id="discount"></h2></td>
                </tr>
                <tr>
                    <td><h2>Seller</h2></td>
                    <td><h2>{{ info.shop_name }}</h2></td>
                </tr>
                <tr>
                 <td><h2>Quantity:</h2></td>
                <td>
                     <select id="qty" name="qty" style="width: 60px;height: 25px" onchange="bill()">
                        {% for j in info.qty %}
                        <option value={{ j }}>{{ j }}</option>
                        {% endfor %}
                     </select>
                </td>
                </tr>
                <tr>
                <td><h2>Descriptions:</h2></td>
                <td style="font-size: 18px;">
                    {% for i in info.descriptions %}
                       <p> {{ i }} </p>
                    {% endfor %}
                </td>
                </tr>
                 <tr>

            </table>
            <br>
            <br>
            <div class="c_deliver_container" >
                <div class="c_deliver_info">
                    <img src="{% static 'images/pages/d3.png' %}" />
                    <p>2 Days</p>
                    <p> Returnable</p>
                </div>
                <div class="c_deliver_info">
                    <img src="{% static 'images/pages/d2.png' %}" />
                    <p>NapSack</p>
                    <p> Delivered</p>
                </div>
                <div class="c_deliver_info" >
                    <img src="{% static 'images/pages/d1.png' %}" />
                    <p> Delivered </p>
                    <p>With in 3hrs </p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <table>
                <tr>
                    <td><h2>Specifications:</h2></td>
                    <td style="font-size: 18px;">
                        {% for i in info.specifications %}
                        <p> {{ i }} </p>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="c_submit">
            <button onclick="fun()" id="Url"  data-url="{% url 'customers:addtocart' info.agent_product_id %}" style="margin-left: 150px;">Add To Cart</button>
            <!-- <button style="margin-left: 100px;" >Buy Now</button> -->
        </div>
        {% endfor %}
    </div>
    <script src="sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function fun(){
            Swal.fire({
      title: 'Do you want to add to cart...?',
      showDenyButton: true,
    //   showCancelButton: true,
      confirmButtonText: 'Add To Cart',
      denyButtonText: `Cancel`,
    }).then((result) => {
      if (result.isConfirmed) {
        var url = $("#Url").attr("data-url");
        document.location.href = url
      } 
    //   else if (result.isDenied) {
    //     Swal.fire('Not added to cart', '', 'info')
    //   }
    })
    }
    
    
    
    </script>
<script>
    function imageZoom(imgID, resultID) {
        var img, lens, result, cx, cy;
        img = document.getElementById(imgID);
        result = document.getElementById(resultID);
        /*create lens:*/
        lens = document.createElement("DIV");
        lens.setAttribute("class", "img-zoom-lens");
        /*insert lens:*/
        img.parentElement.insertBefore(lens, img);
        /*calculate the ratio between result DIV and lens:*/
        cx = result.offsetWidth / lens.offsetWidth;
        cy = result.offsetHeight / lens.offsetHeight;
        /*set background properties for the result DIV:*/
        result.style.backgroundImage = "url('" + img.src + "')";
        result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
        /*execute a function when someone moves the cursor over the image, or the lens:*/
        lens.addEventListener("mousemove", moveLens);
        img.addEventListener("mousemove", moveLens);
        /*and also for touch screens:*/
        lens.addEventListener("touchmove", moveLens);
        img.addEventListener("touchmove", moveLens);
        function moveLens(e) {
            var pos, x, y;
            /*prevent any other actions that may occur when moving over the image:*/
            e.preventDefault();
            /*get the cursor's x and y positions:*/
            pos = getCursorPos(e);
            /*calculate the position of the lens:*/
            x = pos.x - (lens.offsetWidth / 2);
            y = pos.y - (lens.offsetHeight / 2);
            /*prevent the lens from being positioned outside the image:*/
            if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
            if (x < 0) {x = 0;}
            if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
            if (y < 0) {y = 0;}
            /*set the position of the lens:*/
            lens.style.left = x + "px";
            lens.style.top = y + "px";
            /*display what the lens "sees":*/
            result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
        }
        function getCursorPos(e) {
            var a, x = 0, y = 0;
            e = e || window.event;
            /*get the x and y positions of the image:*/
            a = img.getBoundingClientRect();
            /*calculate the cursor's x and y coordinates, relative to the image:*/
            x = e.pageX - a.left;
            y = e.pageY - a.top;
            /*consider any page scrolling:*/
            x = x - window.pageXOffset;
            y = y - window.pageYOffset;
            return {x : x, y : y};
        }
    }
</script>
<script>
    // Initiate zoom effect:
    imageZoom("myimage", "myresult");
    const cube = document.getElementById('cube')
    const container = document.getElementById('myresult')

    cube.addEventListener('mouseover', () => container.style.display = "block")
    cube.addEventListener('mouseleave', () => container.style.display = "none")
</script>

<script>
    var qtycount = "qty"
    function getqty(){
            var x = ((document.getElementById("qty")||{}).value)||"";
            qtycount = qtycount + x

        console.log(qtycount)
        alert(qtycount)

        // window.location.href = "http://127.0.0.1:8000/customer/" + lat + "/" + long;
        window.location.href = "http://127.0.0.1:8000/customer/cartbill/" + qtycount;
        qtycount = "qty"
    }
    totalcost  = 0
    totalactualcost = 0
    cost = 0
    acost = 0

    function bill()
    {
        var x = ((document.getElementById("qty")||{}).value)||"";
        q = parseInt(x)
        totalcost = totalcost + (parseInt(cost) * q);
        totalactualcost = totalactualcost + (parseInt(acost) * q);
        document.getElementById("actualcost").innerHTML = totalactualcost;
        document.getElementById("discount").innerHTML = totalactualcost - totalcost;
        document.getElementById("presentcost").innerHTML = totalcost;
        totalcost  = 0 ;
        totalactualcost = 0 ;
        console.log(totalcost)
        console.log(totalactualcost)
    }

    function forvalues(){
        var c = document.getElementById("presentcost").innerHTML
        var a = document.getElementById("actualcost").innerHTML
        cost = c;
        acost = a;
        bill();
    }
    forvalues();
</script>
{% endblock itemscontainers %}