{% extends 'layout/customer_login.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/mobileverify.css' %}">
<link rel="stylesheet" href="sweetalert2.min.css">
{% endblock css %}
{% block itemscontainers %}
<div class="mobile-container">
 		<div class="card-container">
			<div class="card-header">
				<img src="{% static 'images/pages/mobile.png' %}">
				<h3 class="mb-2">OTP VERIFICATION</h3>
				<div>
					<p>code has been send to {{ data.phone }}</p>
					<br>
					<p>Change Mobile Number <a href="{% url 'customers:customerprofile' %}" style="text-decoration: none; color:black">click here</a> </p>
				</div>
			</div>
			
			<div class="card-body">
				<br>
			<form action="{% url 'customers:mobileverify' data.info %}" method="post">
			{% csrf_token %}
					<div class="input-container">
						<input type="text"  maxlength="1" name="v1">
						<input type="text"  maxlength="1" name="v2">
						<input type="text" maxlength="1" name="v3">
						<input type="text"  maxlength="1" name="v4">
						<input type="text"  maxlength="1" name="v5">
					</div>
				<br>
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == 'error' %}
						<div style="height: 40px;color: darkred; text-align: center;">
						<strong>{{message}}</strong>
						</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				<div>
					<p style="font-size: 18px;">
						didn't get the otp
						<a href="{% url 'customers:mobileverify' data.info %}" class="text-decoration-none">Resend</a>
					</p>
				</div>
				<br>
				<div class="Verify">
					<button type="submit">Verify</button>
				</div>
			</form>
			<br>
			</div>

 		</div>
</div>
<script src="sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
        function removeconformation(){
            Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this Product!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Remove from cart!'
            }).then((result) => {
            if (result.isConfirmed) {
                var url = $("#Url").attr("data-url");
                document.location.href = url
            }
            })
        };



        bill();
</script>

{% endblock itemscontainers %}
